html:root {
  --light-white-d20: #edeffc;
  --light-white-main: #ffffff;

  --light-black-main: #060912;

  --light-primary-main: #694dfa;
}

body {
  color: var(--light-black-main);
  background-color: var(--light-white-d20);
}